{% extends 'users/base.html' %} {% block bodyContentBlock %} {%if transactions %}
<table class="background" style="margin-left: 2rem; margin-top: 1rem;">
    <tr>
        <th>Date and Time</th>
        <th>amount</th>
        <th>Type</th>
        <th>status</th>
        <th>More Details</th>
    </tr>
    {%for transaction in transactions%}

    <tr>
        <td>{{transaction.dateTime}}</td>
        <td>{{transaction.transactionAmount}}</td>
        {% ifequal transaction.transactionFrom.username  user.username %}
        <td>Debit</td>
        {%else%}
        <td>Credit</td>
        {%endifequal%} {% if transaction.success %}
        <td>Success</td>
        {% else %}
        <td>Failed</td>
        td {% endif %}
        <td>
            <a href="{%url 'users:detail-transaction' transaction.transactionID %}">More Info</a>
        </td>
    </tr>
    {%endfor%}

</table>
{%else%}
<h5>No transactions yet</h5>
{% endif %} {% endblock bodyContentBlock %}