{%extends 'users/base.html' %} {% block bodyContentBlock %}
<style>
.card{
  background-image: linear-gradient(to bottom, lightyellow , white);
  margin-right: 50%;
}
h4{
	font-family: "Times New Roman", Times, serif;
       /* text-shadow: 2px 2px 4px red; */
}
</style>
<div class='card' style="padding: 2rem;" >
    
       <h4>User Name:    {{object.user.username}}</h4>
       {% if object.user.email%}
       <h4>Email: {{object.user.email}}</h4>
       {% else %}
       <h4>Email: No email registered</h4>
       {% endif %}
      <h4 > <span>Account Number:</span> {{object.accountNumber}}</h4>
       <h4><a href="{% url 'users:change_password'%}">Change Password</a></h4>

</div>
{% endblock bodyContentBlock %}